<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Player List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Height</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players | async">
          <td>{{ player.firstName }}</td>
          <td>{{ player.lastName }}</td>
          <td>{{ player.emailId }}</td>
          <td>
            <button (click)="deletePlayer(player.id)" class="btn btn-danger">
              Delete
            </button>
            <button
              (click)="playerDetails(player.id)"
              class="btn btn-info"
              style="margin-left: 10px"
            >
              Details
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
