<h2>Player Details</h2>

<hr />
<div *ngIf="player">
  <div>
    <label><b>First Name: </b></label> {{ player.firstName }}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{ player.lastName }}
  </div>
  <div>
    <label><b>Email Id: </b></label> {{ player.email }}
  </div>
</div>

<br />
<br />
<button (click)="list()" class="btn btn-primary">Back to Player List</button
><br />
