<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="players" class="nav-link" routerLinkActive="active"
        >Player List</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="add" class="nav-link" routerLinkActive="active"
        >Add Player</a
      >
    </li>
    <li class="nav-item">
        <a routerLink="upload" class="nav-link" routerLinkActive="active"
          >Add Image</a
        >
      </li>
  </ul>
</nav>
<div class="container">
  <br />
  <h2 style="text-align: center;">{{ title }}</h2>
  <hr />
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span>SlyQ Devs</span>
  </div>
</footer>
