<h3>Create Player</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        required
        [(ngModel)]="player.firstName"
        name="firstName"
      />
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        required
        [(ngModel)]="player.lastName"
        name="lastName"
      />
    </div>

    <div class="form-group">
      <label for="name">First Name</label>
      <input
        type="text"
        class="form-control"
        id="email"
        required
        [(ngModel)]="player.email"
        name="email"
      />
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>





<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newPlayer()">Add</button> -->
</div>
